<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">

       <title>Lecture feedback</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   </head>
   <body>
        <div id="main" class="container-fluid"></div>
        <script id="main-template" type="text/template">
            <section id="reset"></section>  
            <section id="voting"></section>  
        </script>

        <script id="reset-template" type="text/template">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10"><button class="btn btn-sm btn-danger pull-right">reset</button></div>
            </div>  
        </script>

        <script id="voting-template" type="text/template">
            <div class="row" style="margin-top:10px">
                <div class="col-xs-4"><button id="green" class="btn btn-success btn-lg voting-area" style="width:100%; height: 200px"><%= green %></button></div>
                <div class="col-xs-4"><button id="yellow" class="btn btn-warning btn-lg voting-area" style="width:100%; height: 200px"><%= yellow %></button></div>
                <div class="col-xs-4"><button id="red" class="btn btn-danger btn-lg voting-area" style="width:100%; height: 200px"><%= red %></button></div>
            </button>  
        </script>

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://backbonejs.org/backbone-min.js"></script>
        <script src="http://marionettejs.com/downloads/backbone.marionette.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="js/Vote.js"></script>
        <script src="js/Views.js"></script>
        <script src="js/App.js"></script>
   </body>
</html>
